main{
    width: 90%;
    /* min-height: 100vh; ; */
    max-width: 50rem;
    margin:2.5rem auto;
    display:flex;
    flex-direction: row;
    gap: 2rem;
}

#users {
    list-style:none;
    padding: 0;
    margin: 0;
    display:flex;
    gap:0.5rem;
    overflow:visible;
}

@media (min-width: 768px) {
    main{
        padding: 4rem auto;
        grid-template-columns: 1fr 3fr;
    }

    #users{
        flex-direction: column;
    }
}